/*************************************General****************************************/
html {
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h2,h1,h3,h4,h5 {
	margin: 0px;
}

li {
	list-style-type: none;
}

ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

}


.navigationbar, .manu, .comversesulution, .newsandfeeds,  .successstories,  footer {
	text-align: center;
}


/************************************nav*****************************************/
.comverse_header{
}
.navigationbar {
	text-align: right;
	width: 100%;
}
.navigationbar li {
	display: inline-block;
}


/**************************************manu****************************************/

.manu {
	width: 100%;
	min-height: 70px;
}

#comverse_img {
	float: left;
	margin-left: 200px;

}

#comverse_img {
	height: 50px;
}

.manu>nav {
	float: left;
	padding: 25px;
}

#primary_nav_wrap ul a
{
	display:block;
	color:black;
	text-decoration:none;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
}

#primary_nav_wrap ul ul
{
	z-index: 100;
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:150px;
	text-align: left;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}

#manu_mobile_img , #search_mobile_img, #mobile_nav, .manu form{
	display: none;
}

@media screen and (max-width: 900px){
	.navigationbar, .manu ul , .manu nav{
    	display: none;
}

#comverse_img {
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	float: none;
	text-align: center;
}

#manu_mobile_img , #search_mobile_img{
	display: block;
	padding: 20px;	
}

#search_mobile_img{
	float: right;
}

#manu_mobile_img{
	float: left;
}


#container:target a {
    display: none;
}

#mobile_nav {
		padding-left: 0px;
		text-align: left;

}

#mobile_nav>li{
	border-top: 1px solid #ccc;
	padding: 8px;
}

#mobile_nav a{
	color: black;
	text-decoration: none;
	font-size: 1.5rem;
}

#mobile_searchbar input{
	width: 100%;
	font-size: 2rem;
}
}


/**********************************introducrion********************************************/
.introduction {
	background-image: url("../img/slide-bg-complexity.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	padding: 30px;
}

#learn-more {
	text-align: left;	
	margin-left: 170px;
	background-color:#3196C9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #3196C9;
	display:inline-block;
	color:#ffffff;
	padding:5px 31px;
	text-shadow:0px 1px 0px #3196C9;
	text-align: left;
}

.introduction ul {
	margin-left: 170px;
	margin-top: 20px;
}

.slideshow li {
	background-color: #e5e5e5; 
	color: #e5e5e5;
	font-size: 11px;
	width: 11px;
	height: 11px;
	margin-left: 7px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}
.slideshow_first {
	background-color: #2e95ca !important;
	color: #2e95ca !important;
}


.introduction>header>h2 {
	text-align: left;
	margin-left: 170px;
	font-size: 3rem;
}

.introduction>header>h3 {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: left;
	margin-left: 170px;
	font-size: 1rem;
	font-weight:100;
}



.introduction-articles {
	padding: 10px;
	text-align: center;
}

.introduction-articles>article{
	padding: 30px;
	width: 270px;
	margin-top: 40px;
}

#first-article {
	background-color: rgb(251,66,158);
	opacity: 0.8;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	margin-left: 50px;
}

#second-article {
	background-color: rgb(104,193,57);
	opacity: 0.8;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	margin-left: 10px;
}

#third-article {
	background-color: rgb(255,117,24);
	opacity: 0.8;
	-moz-border-radius:28px;
	-webkit-border-radius:18px;
	border-radius:18px;
	margin-left: 10px;

}

article {
	display: inline-block; 
}

#bold {
	font-weight: bolder;
}

.introduction>header>h2 {
	font-weight: normal;
}

@media screen and (max-width: 900px){

#first-article,#second-article,#third-article,.introduction-articles,
.introduction,.introduction>header>h2,.introduction>header>h3{
			width: 100%;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#learn-more {
		margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;


}

.introduction ul {
	margin-left: 0px;
	margin-top: 20px;
}

.slideshow li {
	background-color: #e5e5e5; 
	color: black;
	font-size: 11px;
	width: 20px;
	height: 20px;
	margin-left: 7px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
}
.slideshow_first {
	background-color: #2e95ca !important;
	color: black !important;
}

}

/******************************************************************/


.comversesulution {
	background-color: rgb(65,159,196);
	color: white;
	padding: 30px;
}

.comversesulution h2 {
	font-weight: lighter;
	font-size: 40px;
}

.figure {
	display: inline-block; 
	padding: 20px;
	width: 100px;
	kit-margin-end: 0px;
}

.figure>a>img {
	max-width: 90px;
}
.figure>a>img:hover {
	content: url('../img/solution_icon2.png');
}

figure {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}

#see_all_of_our_solutions {
	text-align: center;	
	background-color:#3196C9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #3196C9;
	display:inline-block;
	color:#ffffff;
	padding:5px 31px;
	text-shadow:0px 1px 0px #3196C9;
}

/******************************************************************/

.newsandfeeds {
	background-image: url("../img/news-and-events.jpg");
	background-attachment: fixed;
	color: white;
	padding: 30px;
}

.newsandfeeds > article {
	display: inline-block; 
	padding: 20px;
	width: 300px;
}

article p {
	margin-top: 0;
}

article h2 {
	font-size: 35px;
	border-bottom-style: dotted;
}

.newsbox{
	background-color: rgb(191,174,163);
	opacity: 0.9;
	color: black;
	padding: 15px;
	margin-top: 10px;
	opacity: 0.8;
	border-radius:4px;
}

.newsbox:hover{
	opacity: 1;
}

.datebox{
	background-color: rgb(51,153,204);
	float: left;
	color: white;
	opacity: 1.0;
	width: 65px;
	height: 85px;
	border-radius: 4px;
	color: white;
}

.datebox>h2, .datebox>h3{
	margin: 0px;
}


/******************************************************************/

#first-article:hover , #second-article:hover , #third-article:hover {
	opacity: 1;
}


.successstories {
	background-color: rgb(236,236,236);
	padding: 30px;
}

.successstories h2 {
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 30px;
}

.successstories > header {
	padding: 10px;
}

#successwrapping {
}

#success1wrapping, #success2wrapping, #success3wrapping {
	display: inline-block;
	width: 350px;
	vertical-align: top;
}
#success1,#success2,#success3{
	vertical-align: top;
	background-color: white;
	padding: 10px;
	display: inline-block;
	transition: height 2s;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;

}

.successstories p {
	width: 310px;
}

#mtc>img {
	display: inline-block;
	margin: 5px;
	width: 100px;
	height: 100px;
	border-radius: 8px;

}

#company_pictures {
	display: inline-block;
}

#success1:hover,#success2:hover,#success3:hover {
}

.successstories>div>img {
	float: left;
	margin-left: 10px;
}
#mtc img:hover {
	content: url('../img/mtc.jpg');
}


#see_all_256_stories {
	text-align: left;	
	background-color:#3196C9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #3196C9;
	display:inline-block;
	color:#ffffff;
	padding:5px 31px;
	text-shadow:0px 1px 0px #3196C9;
	margin-top: 30px;
}

@media screen and (max-width: 1136px){
#success3wrapping{
	margin-top: 10px;
}
}


/******************************************************************/

footer {
	height: 300px;
}

footer>div>ul>li{
	display: inline-block;
	padding: 10px;
	padding-left: 30px;
	vertical-align: top;
	text-align: left;

}

footer>div>ul {
	float: left;
	display: inline-block;

}

footer {
	background-color: rgb(40,40,40);
	color: white;
}

aside {
	float: right;
	width: 250px;
	height: 300px;
	background-color: rgb(63,63,63);
	text-align: left;
}

footer>div {
	margin-left: 100px;		
	margin-right: 100px;
}

footer h3 {
	color:#3196C9;

}

#day {
	font-size: 40px;
}
#month {
	font-size: 20px;
}

footer .date {
	float: left;
	padding: 10px;
}

#youtube-icon:hover {
	content: url('../img/socialMenuIcon-youtube_hover.png');
}

#twitter-icon:hover{
	content: url('../img/socialMenuIcon-twitter_hover.png');
}

#linkdin-icon:hover {
	content: url('../img/socialMenuIcon-linkdin_hover.png');
}

#mobile_footer {
	display: none;
}
@media screen and (max-width: 1213px){

	footer {
		height: auto;
		text-align: left;
		color: white;
	}

	footer a {
		text-decoration: none;
		color: white;
	}
	footer div {
		display: none;
	}

	#mobile_footer {
		display: block;
		padding-left: 0px;
		margin: 0px;
	}

	#mobile_footer li {
			border-top: 1px solid #ccc;
	padding: 8px;

	}
}
/******************************************************************/


